@mixin transform-origin ($origin...) {
	-webkit-transform-origin: $origin;
	   -moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	        transform-origin: $origin;
}
@mixin transform ($transform){
	-webkit-transform: $transform;
	   -moz-transform: $transform;
	     -o-transform: $transform;
	        transform: $transform;
}

body {
	margin: 0;
	padding: 0;
	font: 12px Tahoma, arial, sans-serif;
}
#qq {
	transition: all 2s;
	position: relative;
	background: #94ECA8;
	width: 420px;
	height: 400px;
	margin: 0 auto;
	margin-top: 30px;
	display: block;
	.head {
		position: absolute;
		top: 18px;
		left: 96px;
		width: 234px;
		height: 185px;
		border: 1px solid #000;
		border-top-left-radius: 117px;
		border-top-right-radius: 117px;
		border-bottom-left-radius: 117px 68px;
		border-bottom-right-radius: 117px 68px;
		z-index: 10;
		background: #000;
		.eye {
			position: absolute;
			width: 44px;
			height: 66px;
			border: 1px solid #000;
			border-radius: 50% 50%;
			background: #fff;
		}
		.left.eye {
			left: 62px;
			top: 50px;
		}
		.right.eye {
			left: 123px;
			top: 50px;
		}
		.innerLeftEye {
			position: absolute;
			top: 20px;
			left: 20px;
			width: 18px;
			height: 24px;
			border-radius: 50%;
			border: 1px solid #000;
			background: #000;
			&:after {
				position: absolute;
				top: 6px;
				left: 9px;
				content: "";
				width: 6px;
				height: 8px;
				background: #fff;
				border-radius: 50%;
			}
		}
		.innerRightEye {
			position: absolute;
			top: 20px;
			left: 8px;
			width: 18px;
			height: 20px;
			border-top-left-radius: 50% 90%;
			border-top-right-radius: 50% 90%;
			border-bottom-left-radius: 50% 10%;
			border-bottom-right-radius: 50% 10%;
			background: #000;
			box-shadow: 0 -1px 2px #000;
			&:after {
				content: "";
				width: 10px;
				height: 13px;
				position: absolute;
				bottom: -1px;
				left: 4px;
				border-top-left-radius: 50% 100%;
				border-top-right-radius: 35% 80%;
				background: #fff;
			}
		}
		.fix {
			position: absolute;
			top: 17px;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: #000;
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 14px;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background: #000;
			}
		}
		.mouthTopContainer {
			position: absolute;
			top: 120px;
			left: 39px;
			width: 158px;
			height: 29px;
			z-index: 1;
			overflow: hidden;
			.mouthTop {
				position: absolute;
				top: 0;
				left: 0;
				width: 158px;
				height: 34px;
				border: 1px solid #FFA600;
				background: #FFA600;
				border-top-left-radius: 45% 34px;
				border-top-right-radius: 45% 34px;
				z-index: 1;
			}
		}
		.mouthBottomContainer {
			position: absolute;
			top: 146px;
			left: 39px;
			width: 158px;
			height: 15px;
			z-index: 1;
			overflow: hidden;
			.mouthBottom {
				position: absolute;
				top: -4px;
				left: 0;
				width: 158px;
				height: 24px;
				border: 1px solid #FFA600;
				border-top: none;
				background: #FFA600;
				border-bottom-left-radius: 45% 24px;
				border-bottom-right-radius: 45% 24px;
				z-index: 1;
			}
		}
		.lips {
			position: absolute;
			top: 146px;
			left: 60px;
			width: 116px;
			height: 24px;
			background: #FFA600;
			border-bottom-left-radius: 50% 100%;
			border-bottom-right-radius: 50% 100%;
			border: 1px solid #FFA600;
			border-top: 0;
			.lipShadow {
				position: absolute;
				left: -12px;
				top: 4px;
				width: 0;
				height: 0;
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
				border-right: 8px solid #000;
				@include transform-origin(top right);
				@include transform(rotate(-60deg));
				z-index: 2;
			}
			.lipShadow.right {
				@include transform(rotate(60deg) rotateY(180deg));
				left: 114px;
			}
		}
	}
	.body {
		position: absolute;
		top: 135px;
		left: 48px;
		width: 326px;
		height: 300px;
		// border: 1px solid #000;
		.scarf {
			position: absolute;
			top: -2px;
			left: 34px;
			width: 258px;
			height: 110px;
			border: 4px solid #000;
			border-top-left-radius: 30px 34px;
			border-top-right-radius: 30px 34px;
			border-bottom-left-radius: 50% 76px;
			border-bottom-right-radius: 50% 76px;
			border-top: none;
			z-index: 5;
			background: #FB0009;
		}
		.scarfShadow {
			position: absolute;
			top: 0;
			left: 7px;
			width: 60px;
			height: 70px;
			border-top-left-radius: 90px 120px;
			border-top-right-radius: 30px 30px;
			border-top: 6px solid #000;
			@include transform(rotate(-79deg));
		}
		.scarfShadowRight {
			position: absolute;
			top: 6px;
			left: 143px;
			width: 100px;
			height: 70px;
			border-right: 6px solid #000;
			border-bottom-right-radius: 70px 70px;
			z-index: 6;
		}
		.scarfEnd {
			position: absolute;
			top: 90px;
			left: 74px;
			width: 52px;
			height: 64px;
			border: 3px solid #000;
			background: #FB0009;
			border-bottom-left-radius: 50% 43%;
			border-bottom-right-radius: 15px;
			border-top-left-radius: 20% 57%;
			z-index: 4;
		}
		.scarfEndShadow {
			position: absolute;
			top: 6px;
			left: 12px;
			width: 20px;
			height: 20px;
			border-top: 6px solid #000;
			border-top-left-radius: 30px 30px;
			@include transform-origin(top right);
			@include transform(scaleY(1.5) rotate(-65deg));
			// @include transform(skewX(4deg) scaleY(1.5) rotate(-60deg));
			z-index: 10;
		}
		.innerWrapper {
			position: absolute;
			left: 30px;
			top: 76px;
			width: 280px;
			height: 200px;
			overflow: hidden;
		}
		.inner {
			position: absolute;
			left: 25px;
			top: -71px;
			width: 218px;
			height: 210px;
			background: #fff;
			border-radius: 50%;
			border: 1px solid #000;
			z-index: 4;
		}
		.outerWrapper {
			position: absolute;
			left: 32px;
			top: 54px;
			width: 262px;
			height: 250px;
			// background: #ddd;
			overflow: hidden;
		}
		.outer {
			position: absolute;
			top: -84px;
			left: 0;
			width: 260px;
			height: 250px;
			border: 1px solid #000;
			border-radius: 125px;
			z-index: 3;
			background: #000;
		}
	}
	.handWrapper {
		position: absolute;
		left: 7px;
		top: 219px;
		.leftHandTopContainer {
			position: absolute;
			left: 50px;
			top: 55px;
			width: 118px;
			height: 26px;
			@include transform-origin(bottom left);
			@include transform(rotate(-70deg));
			z-index: 1;
			overflow: hidden;
			.leftHandTop {
				// position: absolute;
				width: 128px;
				height: 54px;
				border: 1px solid #050346;
				border-top-left-radius: 44% 38px;
				border-top-right-radius: 56% 33px;
				background: #000;
			}
		}
		.leftHandBottomContainer {
			position: absolute;
			top: -16px;
			left: -15px;
			width: 100px;
			height: 30px;
			@include transform-origin(top right);
			@include transform(rotate(-70deg));
			z-index: 1;
			overflow: hidden;
			.leftHandBottom {
				position: absolute;
				top: -26px;
				width: 128px;
				height: 44px;
				border: 1px solid #050346;
				border-top: none;
				border-bottom-left-radius: 48% 20px;
				border-bottom-right-radius: 52% 23px;
				background: #000;
			}
		}
		.rightHandTopContainer {
			position: absolute;
			left: 240px;
			top: 47px;
			width: 118px;
			height: 34px;
			@include transform-origin(bottom right);
			@include transform(rotate(65deg));
			z-index: 3;
			overflow: hidden;
			.rightHandTop {
				position: absolute;
				left: -30px;
				width: 148px;
				height: 54px;
				border: 1px solid #050346;
				border-top-right-radius: 41% 54px;
				border-top-left-radius: 59% 48px;
				@include transform(rotateY(180deg));
				background: #000;
			}
		}
		.rightHandBottomContainer {
			position: absolute;
			top: 81px;
			left: 248px;
			width: 110px;
			height: 58px;
			@include transform-origin(top right);
			@include transform(rotate(86deg));
			z-index: 1;
			overflow: hidden;
			.rightHandBottom {
				position: absolute;
				left: 38px;
				top: 1px;
				width: 68px;
				height: 28px;
				border: 1px solid #000;
				border-top: none;
				border-bottom-right-radius: 100% 40px;
				background: #000;
				// z-index: 999;
			}
		}
	}
	.footWrapper {
		position: absolute;
		left: 80px;
		top: 292px;
		.leftFootTopWrapper {
			position: absolute;
			left: -1px;
			top: 16px;
			width: 130px;
			height: 37px;
			z-index: 2;
			// background: #0f0;
			overflow: hidden;
			.leftFootTop {
				position: absolute;
				top: -10px;
				left: 3px;
				width: 120px;
				height: 60px;
				border: 4px solid #000;
				border-top-left-radius: 80% 70%;
				background: #FF9C00;
			}
		}
		.leftFootBottomWrapper {
			position: absolute;
			left: -1px;
			top: 52px;
			width: 130px;
			height: 38px;
			// background: #0f0;
			overflow: hidden;
			z-index: 2;
			.leftFootBottom {
				position: absolute;
				top: -30px;
				left: 3px;
				width: 120px;
				height: 60px;
				border: 4px solid #000;
				border-top-left-radius: 50% 44%;
				border-top-right-radius: 50% 44%;
				border-bottom-left-radius: 50% 56%;
				border-bottom-right-radius: 50% 56%;
				background: #FF9C00;
			}
		}
		.toe {
			position: absolute;
			top: 50px;
			left: 2px;
			width: 25px;
			height: 20px;
			border-top: 4px solid #000;
			border-top-left-radius: 10px 10px;
			border-top-right-radius: 30px 30px;
			@include transform-origin(top left);
			@include transform(rotate(-45deg));
			// background: #00f;
			z-index: 10;
		}
		.rightFootTopWrapper {
			position: absolute;
			top: 22px;
			left: 134px;
			width: 134px;
			height: 36px;
			// background: #0f0;
			z-index: 2;
			overflow: hidden;
			.rightFootTop {
				position: absolute;
				left: 4px;
				top: 0;
				width: 120px;
				height: 60px;
				background: #FF9C00;
				border: 4px solid #000;
				border-top-right-radius: 32% 65%;
			}
		}
		.rightFootBottomWrapper {
			position: absolute;
			top: 52px;
			left: 134px;
			width: 134px;
			height: 38px;
			overflow: hidden;
			// background: #0f0;
			.rightFootBottom {
				position: absolute;
				top: -30px;
				left: 3px;
				width: 120px;
				height: 60px;
				border: 4px solid #000;
				border-bottom-left-radius: 50% 44%;
				border-bottom-right-radius: 50% 44%;
				border-top-left-radius: 50% 56%;
				border-top-right-radius: 50% 56%;
				background: #FF9C00;
			}
		}
		.toe.right {
			left: 264px;
			@include transform(rotate(45deg) rotateY(180deg));
		}
	}
	&:hover {
		background: #fff;
		.aboutMeContainer {
			opacity: 1;
		}
	}
}
.aboutMeContainer {
	transition: all 1s;
	opacity: 0;
	position: absolute;
	width: 135px;
	height: 87px;
	right: -35px;
	top: -15px;
	border-radius: 50%;
	background: #94ECA8;
	overflow: hidden;
	.aboutMe {
		position: absolute;
		left: 20px;
		top: 20px;
		width: 100px;
		height: 70px;
		color: #555;
		font-size: 20px;
	}
}